.profileBlock {
    display: flex;
    width: 85%;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .profileBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}