.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: blue;
}

.dialog {
    color:rgb(0, 0, 0);
}

.messages {
    padding: 10px;
}

.message{
    
}