.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-image: url("https://walpix.net/image.php?id=2489&width=600&height=338&cropratio=16:9&cropposition=crop&filename=594216954");
    background-repeat: no-repeat;
    background-size: 100%;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: blue;
}

.dialog {
    color:rgb(0, 0, 0);
}

.messages {
    padding: 10px;
}

.message{
    
}