.postsBlock {
    padding: 10px;
    width: 265px;
}

.textareaButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    margin-top: 10px;
}

.textareaPost {
    resize: none;
    width: 260px;
}

.stringMyPost {
    display: flex;
    justify-content: center;
}

.buttonAddPost {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}