.nav {
    background-color: gray;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}
